<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.js"></script>
<title>Document</title>
</head>
<body>
<div ng-app="CalculatorApp" ng-controller="CalculatorController">
<p><input type="number" ng-model="a" /></p>
<p><input type="number" ng-model="b" /></p>
<p>
<select ng-model="operator">
<option>+</option>
<option>*</option>
<option>-</option>
<option>/</option>
</select>
</p>
<p>{{ result() }}</p>
</div>

</body>
</html>
<script>
angular
.module("CalculatorApp", [])
.controller("CalculatorController", function ($scope) {
$scope.result = function () { if
($scope.operator == "+") {
return $scope.a + $scope.b;
}
if ($scope.operator == "-") {
return $scope.a - $scope.b;
}
if ($scope.operator == "*") {
return $scope.a * $scope.b;
}
if ($scope.operator == "/") {
return $scope.a / $scope.b;
}
};
});
</script>
