<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.js"></script>
<title>Document</title>
</head>
<body>
<div ng-app="myApp" ng-controller="myCtrl">
Enter the radius : <input type="number" ng-model="var1" /><br />
<br /><br />
<button ng-click="area(var1)">Area</button>
Area of Circle: {{result}}
</div>
</body>
</html>
<script>
var app = angular.module("myApp", [])
app.controller("myCtrl", function ($scope) {
$scope.area = function () {
$scope.result = 3.14 * ($scope.var1 * $scope.var1)
}
})
</script>
